.floating-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #ff6087;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.floating-btn:hover {
    background-color: #f2285a;
    transform: scale(1.1);
}


body.deep-dark-mode .floating-btn {
    background-color: #501421;
    color: #333;
}
body.deep-dark-mode .floating-btn:hover {
    background-color: rgb(35, 4, 14);
    color: #333;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


.close-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f2285a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover {
    background: #ff6087;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}



.toggleSwitch {
    width: 30px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    margin: 9px;
}

.toggleSwitch .toggleButton {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #f2285a;
}

.toggle:checked ~ .toggleSwitch {
    background: #f2285a;
}

.toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 13px);
    background: #fff;
}

.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}


.toggleDarkmode:checked ~ .toggleSwitch {
    background: #dea229;
}

.toggleDarkmode:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 13px);
    background: #fff;
}


.shadow-box {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 그림자 효과 */
    transition: box-shadow 0.3s ease-in-out; /* 마우스를 올렸을 때 그림자가 커지도록 */
}
.shadow-box:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}
body.deep-dark-mode {
    background-color: #000000;
    color: #333;
}

body.dark-mode .modal {
    background-color: #121212;
    color: white;
}
body.deep-dark-mode .modal {
    background-color: #000000;
    color: #333;
}

body.dark-mode .toggleSwitch{
    background-color: #7e7e7e;
}
body.deep-dark-mode .toggleSwitch{
    background-color: #7e7e7e;
}

body.dark-mode .shadow-box{
    background-color: #121212;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 그림자 효과 */
    transition: box-shadow 0.3s ease-in-out; /* 마우스를 올렸을 때 그림자가 커지도록 */
}
body.deep-dark-mode .shadow-box{
    background-color: #000;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 그림자 효과 */
    transition: box-shadow 0.3s ease-in-out; /* 마우스를 올렸을 때 그림자가 커지도록 */
}

body.dark-mode .shadow-box:hover{
    background-color: #7e7e7e;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}
body.deep-dark-mode .shadow-box:hover{
    background-color: #111;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.original {
    font-size: 24px;
    font-style:oblique;
    transition: background-color 0.3s ease;
}
.hatsuon {
    font-size: 22;
    transition: background-color 0.3s ease;
}
.translation {
    font-size: 16;
    transition: background-color 0.3s ease;
}
.isshoni-utatte {
    transition: background-color 0.3s ease;
}
.isshoni-utatte.sing {
    color: #ff6087;
}
body.deep-dark-mode .sing {
    color: #501421 !important;
}
.kashicontainer {
    text-align: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
}

.kashicontainer.show {
    max-height: 500px;
    opacity: 1;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}
body.deep-dark-mode .navbar {
    background: #070707;
    color: #333;
}

/* 로고 */
.logo {
    font-size: 20px;
    font-weight: bold;
    padding-left: 70px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250;
    width: 250px;
    height: 100%;
    background: #fff;
    color: #000;
    transition: left 1s ease-in-out;
    padding-top: 60px;
    z-index: 10001;
    max-height: 100vh; /* 화면 높이보다 넘치지 않도록 설정 */
    overflow-y: auto;  /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
}
body.dark-mode .sidebar {
    background-color: #333;
    color: white;
}
body.deep-dark-mode .sidebar {
    background-color: #000;
    color: #333;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    border-color: #f2285a;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    margin: 5px;
    text-align: center;
}
body.deep-dark-mode .sidebar ul li {
    border-color: #501421;
}


.sidebar ul li:hover {
    background-color: #ffe5eb;
}
body.dark-mode .sidebar ul li:hover {
    background-color: #4b393d;
}
body.deep-dark-mode .sidebar ul li:hover {
    background-color: #160a0d;
}


.sidebar ul li a {
    color: black;
    text-decoration: none;
    text-align: left;
    display: block;
    transition: left 0.5s ease-in-out;
}
.sidebar ul li:hover a {
    background-color: #ffe5eb;
}

body.dark-mode .sidebar ul li a {
    background-color: #333;
    color: white;
}
body.deep-dark-mode .sidebar ul li a {
    background-color: #000;
    color: #333;
}

body.dark-mode .sidebar ul li:hover a {
    background-color: #4b393d;
}
body.deep-dark-mode .sidebar ul li:hover a {
    background-color: #160a0d;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.sidebar.active {
    left: 0;
}
.open-btn {
    position: fixed;
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;
}
body.deep-dark-mode .open-btn{
    background: #111;
    color: #333;

}

.open-btn:hover {
    background: #555;
}

body.deep-dark-mode .open-btn:hover{
    background: #222;
}

.information {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.songtitle {
    font-size: 36px;
}

@media (min-width: 560px) {
    .youtube {
        text-align: center;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 56.25%;
        height: 0;  
        max-width: 100%;
        margin: 0 auto; */
    }
}
@media (max-width: 560px) {
    .youtube {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;  
        max-width: 560px;
        margin: auto auto;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.buttonContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.a-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #ff6087;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
body.deep-dark-mode .a-button {
    background-color: #501421;
    color: #333;
}

.a-button:hover {
    background-color: #f2285a;
}
body.deep-dark-mode .a-button:hover {
    background-color: rgb(35, 4, 14);
    color: #333;
}
/*
.sidebarButton {
    border-width: 1px;
    background-color: white;
    color: #f2285a;
    text-decoration: none;
    text-align: left;
}

body.dark-mode .sidebarButton {
    background-color: #333;
    color: #510d1e;
    text-decoration: none;
    text-align: left;
}
body.deep-dark-mode .sidebarButton {
    background-color: #333;
    color: #250e13;
    text-decoration: none;
    text-align: left;
}
    */

.sideTitle {
    font-size:18px;
    font-weight:bold;
    color: #f2285a;
    text-align: left;
}
.sideTitle_otherlangs {
    font-size: 12px;
    font-weight:bold;
    color: #f2285a;
    text-align: left;
}

body.deep-dark-mode .sideTitle {
    color: #501421;
}
body.deep-dark-mode  .sideTitle_otherlangs {
    color: #501421;
}


.footer {
    text-align: center;
    font-size: 12px
}